* {
    box-sizing: border-box;
}
.montserrat-<uniquifier > {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    --primary-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    border-radius: 12px;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 18px;
}
.btn:hover {
    opacity: 0.6;
}

.line-camp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-camp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */
.fixed-header {
    position: sticky;
    padding-top: 26px;
    background: #e6f0ff;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    position: relative;
    background: #e6f0ff;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navbar ul a {
    position: relative;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* khoảng cách dưới chữ */
    width: 0%; /* bắt đầu từ 0 */
    height: 2px; /* độ dày gạch */
    background: #4f5361; /* màu gạch */
    transition: width 0.3s ease;
}

.navbar ul a:hover::after {
    width: 100%;
}

.navbar .active-link {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 18px;
    border-radius: 8px;
    margin-left: 18px;
}

/* hero */
.hero {
    max-width: 50%;
}
.hero .sub-title {
    margin-top: 130px;
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.018rem;
}

.hero .title {
    width: 559px;
    margin-top: 8px;
    color: var(--primary-color);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem;
}

.hero .desc {
    width: 550px;
    margin-top: 30px;
    color: #5a6473;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0px;
}
.clients {
    margin-top: 79px;
    padding: 43px 0 63px;
}
.clients .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .desc {
    margin-top: 23px;
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
}

.clients .img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.clients .img a {
    display: flex;
    align-items: center;
    height: 91px;
    padding: 0 42px;
    border-radius: 12px;
}
.clients .img a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* guide */
.guide {
    margin-top: 40px;
    padding: 93px 0 79px;
}
.guide .sub-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}
.guide .sub-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--primary-color);
    display: inline-block;
}
.guide .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}

.list-guide {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guide-item {
    padding: 0 70px;
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
}
.guide-item h3 {
    margin-top: 26px;
}
.guide-item .link {
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
    padding-right: 3px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide .guide-cta {
    min-width: 170px;
}

/* featured */
.featured {
    margin-top: 41px;
    padding: 110px;
    background-color: #f5fafe;
}
.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem; /* 100% */
}
.featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.featured .row .dest {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}
.featured .row .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .list {
    max-width: 100%;
    margin-top: 70px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.featured .item {
    flex: 1;
    background-color: white;
    border-radius: 12px;
}
.featured .thumb {
    width: 100%;
    height: 277px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured .body {
    padding: 17px 20px 24px;
}
.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
}
.featured .item .desc {
    line-height: normal;
    color: #a3a6ab;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.featured .item .info {
    margin-top: 22px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.featured .info .icon {
    margin-left: 22.7px;
}
.featured .info .icon:first-child {
    margin-left: 0px;
}
.featured .info .lable {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
}
/* starts */
.starts {
    padding: 50px;
}
.starts .content {
    width: 1017px;
}
.starts .content .row {
    display: flex;
}
.starts .row .img-block,
.info {
    width: 50%;
}
.starts .row .img-block {
    position: relative;
}
.starts .img-block .start-trend {
    position: absolute;
    left: 0;
    top: 0;
    width: 239px;
    padding: 45px 22px 41px;
    background-color: white;
    border-radius: 0 0 12px 12px;
}
.starts .start-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0.026rem;
    width: 159px;
}
.starts .start-trend .value .icon {
    margin-left: 10px;
}
.starts .img-block .start-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem; /* 150% */
}
.starts .img-block .start-trend .separate {
    margin-top: 25px;
    background: #e9e9e9;
    width: 193.62px;
    height: 1.2px;
}
.starts .start-trend .avata-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}
.starts .img-block .start-trend .avata-group {
    display: flex;
}
.starts .start-trend .avata-group .avata {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
}
.starts .start-trend .avata-group .avata:first-child {
    margin-left: 0;
}
.starts .row .image {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: auto;
}
.starts .row .info {
    padding: 79px 165px;
}
.starts .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4.5rem; /* 128.571% */
}
.starts .info .sub-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--primary-color);
}
.starts .info .desc {
    margin-top: 20px;
    color: #5a6473;
    width: 309px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem; /* 187.5% */
}
.starts .row-qty {
    padding: 0 32px;
    margin-top: 110px;
    justify-content: space-between;
}

.starts .row-qty .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 6.4rem; /* 100% */
}
.starts .row-qty .desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

.subcribe .body {
    position: relative;
    align-items: center;
    margin-top: 90px;
    display: flex;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}
.subcribe .body .info {
    width: 671px;
    padding: 0 80px;
}
.subcribe .body .sub-img {
    position: absolute;
    right: 221px;
    bottom: 0;
}
.subcribe .info .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
}
.subcribe .info .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}
.subcribe .info .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: var(--primary-color);
}

.footer {
    padding: 50px 0 58px;
}
.footer .row {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.footer .column .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .column .list {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    gap: 18px;
}

.footer .column .list a {
    color: #7a7a7e;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .column .desc {
    width: 257px;
    margin-top: 40px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}
.footer .column .icon {
    display: flex;
    margin-top: 40px;
}
.footer .column .icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    background: #f9f9f9;
    border-radius: 3px;
    margin-left: 16px;
}
.footer .column .icon a:first-child {
    margin-left: 0;
}
.footer .row-bottom {
    margin-top: 83px;
}
.footer .row .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
